<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCReoMnF_ZHkiF6gLk6cGBXJS_7Ql065zM</string>
	<key>GCM_SENDER_ID</key>
	<string>153982548433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eyeMonitorSystem</string>
	<key>PROJECT_ID</key>
	<string>eye-monitor-system-59f0f</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-monitor-system-59f0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153982548433:ios:bd8e60993f24eb7c7dc8f0</string>
</dict>
</plist>